{% extends "RecipeBook/base_page.html" %}

{% block title %}
    <title>Change Password</title>
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static "RecipeBook/css/login_0.1.css" %}"/>
{% endblock %}

{% block body %}
    <div class="login" style="vertical-align: middle; height: 100%; margin-top: 13%">
        <table class="login" style="border: none; margin-top: auto; margin-bottom: auto">
            <tr>
                <td>
                    <p>Change your password:</p>
                    <form method="post" action=".">
                        {% csrf_token %}
                        <table>
                                <tr>
                                    <td>{{ password_change_form.old_password.label_tag }}</td>
                                    <td>{{ password_change_form.old_password }}</td>
                                </tr>
                                <tr>
                                    <td>{{ password_change_form.new_password1.label_tag }}</td>
                                    <td>{{ password_change_form.new_password1 }}
                                        {{ password_change_form.new_password1.help_text }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ password_change_form.new_password2.label_tag }}</td>
                                    <td>{{ password_change_form.new_password2 }}</td>
                                </tr>
                        </table>
                        <div style="padding-top: 5px">
                            <input type="submit" value="Change"/>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}